export DOCUMENTDB_USER="docdb"
export DOCUMENTDB_PASSWORD="MX78weVPvR7a7wyJ"
export DOCUMENTDB_PORT="10260" # The port to bind to the documentDB endpoint to on your local machine
export DOCUMENTDB_TAG="latest"
export DOCUMENTDB_HOST="localhost"
export DOCUMENTDB_ALLOW_INVALID_CERTS="true"
