export DOCUMENTDB_USER="docdb"
export DOCUMENTDB_PASSWORD="MX78weVPvR7a7wyJ"
export DOCUMENTDB_PORT="10260" # The port to bind to the documentDB endpoint to on your local machine
export DOCUMENTDB_IMAGE="ghcr.io/documentdb/documentdb/documentdb-local@sha256:8c8a716e27f398b03c397424c4ddd901bddbc22b9f910b17096b0b246c7c9011" # pg17-0.114.0
export DOCUMENTDB_HOST="localhost"
export DOCUMENTDB_ALLOW_INVALID_CERTS="true"

source .venv/bin/activate
